body{
margin:0;
font-family:Arial;
background:#0a0a0a;
color:white;
}

header{
background:black;
text-align:center;
padding:20px;
border-bottom:3px solid orange;
}

nav{
background:#111;
padding:10px;
text-align:center;
}

nav a{
margin:12px;
cursor:pointer;
font-weight:bold;
}

.hero{
height:60vh;
background:url("https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4") center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.section{
display:none;
padding:30px;
}

#home{
display:block;
}

.grid{
display:flex;
flex-wrap:wrap;
gap:20px;
}

.card{
background:#1a1a1a;
padding:15px;
border-radius:8px;
width:200px;
text-align:center;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
border-radius:6px;
}

button{
background:orange;
border:none;
padding:8px;
cursor:pointer;
}

.login{
width:300px;
margin:auto;
background:#1a1a1a;
padding:20px;
border-radius:8px;
}
